footer.site-footer {
    padding: 20px 0 var(--section-separation) 0;
    font-size: 1.4rem;
    line-height: 1.75;

    &:before {
        content: "";
        display: block;
        height: 3px;
        width: 50px;
        background: var(--body-text-color);
        margin-bottom: 20px;
    }

    .copyright {
        color: var(--accent-color);
        font-weight: bold;
        margin-bottom: 5px;
    }

    .powerby {
        color: var(--body-text-color);
        font-weight: normal;
        font-size: 1.2rem;

        a {
            color: var(--body-text-color);
        }
    }
}

#footer-menu {
    list-style: none;
    background-color: transparent;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(10ch, 1fr));

    gap: 3rem;

    a {
        height: 100%;
        color: var(--body-text-color);
        vertical-align: middle;
        padding: 0;
    }
    margin-bottom: 2rem;
}
